<section id='skills'>

    <div class="container text-center d-flex justify-content-center" style='margin-top: 30vh !important;'>
        <div class="pic">
            <img src="/static/git.png" width='50px' height='50px' alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class=' text-white '>
                <a href='https://github.com/Amukozoberit'>github</a></h6>
        </div>
        <div class="pic">
            <img src="/static/linked.png" width='50px' height='50px' alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class='text-white '> <a href='https://www.linkedin.com/in/mwashe-berit-3a70a821b'>linkedin</a></h6>
        </div>
        <div class="pic m-0">
            <img src="/static/mail.jpeg" width='50px' height='50px' alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class='text-white m-0'>mwasheberit@gmail.com</h6>
        </div>

    </div>

</section>